


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ie10up{property:value;}
 }


 @media screen and (max-width:1000px) {
     .bg{height: 300px;}
    article{ width: 100%; height: 0; margin-top: 0;}
    #box_clear{width: 50%; margin-left: 0;}
    #box_clear_last{width: 100%; height: 295px;}
    .bg_01{width: 100%; height: 250px;margin: 0 auto;}
    .bg_01_wrap {width: 80%; margin: 0 auto; padding-top: 80px;}
    .bg_01_wrap .bg_text{width: 80%; height: 100px; margin: 0 auto;}
    .bg_01_wrap .bg_text h2{font-size: 24px; padding-top: 20px;}
    .bg_01_wrap .bg_text h3{font-size: 12px; margin-top: 10px;}
} 
