filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src=’’,sizingMethod=’scale’);
   -ms-filter: “progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src=”,sizingMethod=’scale’)”;
	
@media screen and (max-width:600px) {
	.lt_wr{width:100% !important; margin-left: 0px !important; }
	footer{width: 100%; height: 100px;}
	footer .footer_wrap{width: 95%; margin: 0 auto; border: 1px solid; display: none;}
	footer .mobile_footer{width: 100%; text-align: center; display: block!important; color: #515151; font-size: 13px; padding-top: 20px;}
	footer .mobile_footer hr{color:  #515151;background:#515151; width: 10px;;  display: block; border-color: #515151;}
	footer .mobile_footer a {color: #515151;}
	footer .footer_wrap .footer_text{ border: 1px solid; margin: 0 auto; float: none;}
	footer .footer_wrap h2 img { display:none;}
}

@media screen and (max-width:700px) {
	#tnb ul { width: 100%; }
	#hd_wrapper { height: 60px; }

	.hd_sch_wr{top:80px;width: calc(100% - 20px); z-index: 0; }
	#hd_qnb{ display: none; float:right;margin-top:30px}
	#hd_sch #sch_stx {width:calc(100% - 50px);}


	footer{width: 100%; height: 100px;}
	footer .footer_wrap{width: 95%; margin: 0 auto; border: 1px solid; display: none;}
	footer .mobile_footer{width: 100%; text-align: center; display: block!important; color: #515151; font-size: 13px; padding-top: 20px;}
	footer .mobile_footer hr{color:  #515151;background:#515151; width: 10px;;  display: block; border-color: #515151;}
	footer .mobile_footer a {color: #515151;}
	footer .footer_wrap .footer_text{ border: 1px solid; margin: 0 auto; float: none;}
	footer .footer_wrap h2 img { display:none;}
}

@media screen and (max-width:800px) {
	footer{width: 100%;}
	footer .footer_wrap {width: 100%;}
	footer .mobile_footer{ display: none;}
	footer .footer_wrap .footer_text{  margin: 0 auto; float: none;}
	footer .footer_wrap h2 img { display:none;}
}



	@media screen and (max-width:1000px) {

	
	article section .box .intro h1 {font-size: 18px !important;padding-top: 25px;font-weight: 500; transition: 0.3s;}
	article section .box .intro h2 {font-size: 10px;padding-top: 15px;font-weight: 500; transition: 0.3s;}
	article section .box .intro hr {margin-bottom: 25px;}

	#box_clear{width: 30%; border: 1px solid #fff;}
	#box_clear .intro{width: 100%; height: 100%; margin: 0 auto; background: rgba(0, 0, 0, 0.3);  padding-top: 30px;transition: 0.3s;}
	#box_clear .intro:hover{background: rgba(200, 200, 200, 0.10); transition: 0.3s; color: #fff;}
	.box .intro_img{width:100%; height:100%;background: url(../../../img/main/background_01.PNG); background-position: center; background-size: cover;}
	.box .intro_img_01{width:100%; height:100%;background:#3660ad; background-position: center; background-size: cover;}
	.box .intro_img_01:hover{width:100%; height:100%;background: url(../../../img/main/background_03.PNG); background-position: center; background-size: cover;}
	/* .box .intro_img_02{width:100%; height:100%;background: url(../../../img/main/background_05.png); background-position: center; background-size: cover;} */
	.box .intro_img_02{width:100%; height:100%;background:#3660ad;  background-position: center; background-size: cover;transition:1s;}
	.box .intro_img_02:hover{width:100%; height:100%;background: url(../../../img/main/background_05.png); background-position: center; background-size: cover;transition:1s;}
	.box .intro_img_03{width:100%; height:100%;background: url(../../../img/main/background_02.PNG); background-position: center; background-size:cover;}
	.box .intro_img_04{width:100%; height:100%;background: url(../../../img/main/background_06.PNG); background-position: center; background-size: cover;}

	#box_clear_last{width: 100%; margin-left: 0; border: 1px solid #fff; height: 222px; ;}
	#box_clear_last .intro {width: 100%; height: 100%; margin: 0 auto; background: rgba(0, 0, 0, 0.3);  padding-top: 30px;transition: 0.3s;}
	#box_clear_last .intro:hover{background: rgba(0, 0, 0, 0.5); transition: 0.3s;}
	#box_clear_last .intro p {display: none;}
	#box_clear .intro p {display: none;}



	.box_bg_01{display: none;}
	.box_bg_02{display: none;}
	.box_bg_03{display: none;}
	.box_bg_04{display: none;}
	.box_bg_05{display: none;}








	@media screen and (max-width:1200px) {
		#bg_text_02{height: 180px;; padding-top: 35px;}
		.bg_wrap{padding-top: 40px !important;}
	.wrap_header{display: none!important;}
	.header{display: none!important; }
	.header_block{display: none!important; }
	.gnb_block{display: block!important;;}




	}



	@media screen and (max-width:1500px) {


	.wrap_header{display: none!important;}
	.header{display: none!important; }
	.header_block{display: none!important; }
	.gnb_block{display: block!important;;}

	
	article section {width: 100%; margin: 0 auto;}




	

	/*slider */
	.bg {width: 100%; height: 300px; background: url(../img/slider_01.PNG);background-size: cover; background-repeat: no-repeat;    background-position: center;  }
	.bg_01 {width: 100%; height: 300px !important; background: url(../img/slider_02.PNG);background-size: cover; background-repeat: no-repeat;      background-position: center; }
	.bg_01_wrap {width: 100%; height: 50px; margin: 0 auto; ;  padding-top: 80px;}
	.bg_01_wrap .bg_text {width: 100% !important; height: 100px;  margin: 0 auto; text-align: center;
	/* ie 5,6,7 bug fix */ filter: alpha(opacity=90); opacity: 0.9;}
	.bg_01_wrap .bg_text h2 {font-size: 24px; color:#fff; padding-top: 20px;}
	.bg_01_wrap .bg_text h3 {font-size: 12px; color: fff;margin-top: 10px; }

	#bg_text_02{height: 180px;; padding-top: 10px;}
	.bg_wrap{padding-top: 60px !important;}


	.bg_wrap {width: 100%; height: 50px; margin: 0 auto; ;  padding-top: 80px;}
	.bg_text {width: 85%; height: 100px;  margin: 0 auto; text-align: center;
		/* ie 5,6,7 bug fix */ filter: alpha(opacity=90); opacity: 0.9;}

		#bg_text_02 h3 {width: 90%; margin: 0 auto; padding-top: 20px;}
	.bg_text h2 {font-size: 24px; color:#fff; padding-top: 20px;}
	.bg_text h3 {font-size: 12px; color: #fff;margin-top: 10px; }


	.bg_01_wrap p {width: 850px; height: 200px; margin: 0 auto; background: #fff; }
	.bg_01_wrap .btn_with { margin-top: 31px; border-color: #fff; background-color: #fff; display: inline-block; height: 38px; padding: 0 20px;font-size: 14px;line-height: 39px; color: #1e1e1e;text-align: center; transition-duration:1s; font-weight: 700;}
	.bg_01_wrap .btn_with:hover{ background: #333;transition-duration:1s; color: #fff;}

	/* slider End */

	#box_clear {width: 50%; height: 222px;margin-left: 0; }


	article{width: 100%; margin: 0 auto; height: 100%;}
	article section { margin: 0 auto;}
	/* article section {width: 100%; margin: 0 auto;} */

	.sub_bg.{width: 100%; height: 250px; }
	.footer .footer_wrap{width: 50%;}

	}




	}









	@media screen and (max-width:1500px) {
		#bo_list{width: 90% !important;}
	}


