@charset "utf-8";

/* SIR 지운아빠 */

/* ### 기본 스타일 커스터마이징 시작 ### */

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_list a.btn_b01 {}
#bo_list a.btn_b01:focus, #bo_list a.btn_b01:hover {}
#bo_list a.btn_b02 {}
#bo_list a.btn_b02:focus, #bo_list a.btn_b02:hover {}
#bo_list a.btn_admin {} /* 관리자 전용 버튼 */
#bo_list a.btn_admin:focus, #bo_list .btn_admin:hover {}

/* 읽기 버튼 */
#bo_v a.btn_b01 {}
#bo_v a.btn_b01:focus, #bo_v a.btn_b01:hover {}
#bo_v a.btn_b02 {}
#bo_v a.btn_b02:focus, #bo_v a.btn_b02:hover {}
#bo_v a.btn_admin {} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {}

/* 쓰기 버튼 */
#bo_w .btn_confirm {text-align:center;} /* 서식단계 진행 */
#bo_w .btn_submit {width:122px !important; height:46px !important; padding:0; font-weight:600; font-size:14px; color:#fff; vertical-align:middle; border:0; background:#f08501; cursor:pointer;}
#bo_w button.btn_submit {}
#bo_w fieldset .btn_submit {}
#bo_w .btn_cancel {width:122px !important; height:46px !important; margin-left:10px; padding:0; border:0; font-weight:500; font-size:14px; line-height:46px; color:#222; vertical-align:middle; background:#ccc; cursor:pointer; display:inline-block;}
#bo_w button.btn_cancel {}
#bo_w .btn_cancel:focus, #bo_w .btn_cancel:hover {}
#bo_w a.btn_frmline, #bo_w button.btn_frmline {} /* 우편번호검색버튼 등 */
#bo_w button.btn_frmline {}


/* 기본 테이블 */
/* 목록 테이블 */
#bo_list .tbl_head01 {}
#bo_list .tbl_head01 caption {}
#bo_list .tbl_head01 thead th {}
#bo_list .tbl_head01 thead a {}
#bo_list .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_list .tbl_head01 tfoot th {}
#bo_list .tbl_head01 tfoot td {}
#bo_list .tbl_head01 tbody th {}
#bo_list .tbl_head01 td {}
#bo_list .tbl_head01 a {}
#bo_list td.empty_table {}

/* 읽기 내 테이블 */
#bo_v .tbl_head01 {}
#bo_v .tbl_head01 caption {}
#bo_v .tbl_head01 thead th {}
#bo_v .tbl_head01 thead a {}
#bo_v .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {}
#bo_v .tbl_head01 tfoot td {}
#bo_v .tbl_head01 tbody th {}
#bo_v .tbl_head01 th {}
#bo_v .tbl_head01 td {}
#bo_v .tbl_frm01 th {width:150px; font-weight:600; font-size:14px;}
#bo_v .tbl_frm01 td {font-size:14px;}
#bo_v .tbl_head01 a {}
#bo_v td.empty_table {}

/* 쓰기 테이블 */
#bo_w table {}
#bo_w caption {}
#bo_w .frm_info {}
#bo_w .frm_address {}
#bo_w .frm_file {}

#bo_w .tbl_frm01 {border:0; border-top:2px solid #666;}
#bo_w .tbl_frm01 th {width:150px !important; padding:10px 15px;  font-weight:600; font-size:16px; line-height:38px; vertical-align:top; border-right:0; background:#fff;}
#bo_w .tbl_frm01 td {padding:10px 0; font-size:14px; background:#fff;}
#bo_w .tbl_frm01 textarea, #bo_w .tbl_frm01 .frm_input {}
#bo_w .tbl_frm01 .frm_input {color:#999;}
#bo_w .tbl_frm01 textarea {}
/*
#bo_w .tbl_frm01 #captcha {}
#bo_w .tbl_frm01 #captcha input {}
*/
#bo_w .tbl_frm01 a {}

/* 필수입력 */
#bo_w .required, #bo_w textarea.required {}

#bo_w .cke_sc {}
#bo_w button.btn_cke_sc{}
#bo_w .cke_sc_def {}
#bo_w .cke_sc_def dl {}
#bo_w .cke_sc_def dl:after {}
#bo_w .cke_sc_def dt, #bo_w .cke_sc_def dd {}
#bo_w .cke_sc_def dt {}
#bo_w .cke_sc_def dd {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 게시판 목록 */
#bo_list .td_board {width:120px;text-align:center}
#bo_list .td_chk {width:30px;text-align:center}
#bo_list .td_date {width:60px;text-align:center}
#bo_list .td_datetime {width:110px;text-align:center}
#bo_list .td_group {width:100px;text-align:center}
#bo_list .td_mb_id {width:100px;text-align:center}
#bo_list .td_mng {width:80px;text-align:center}
#bo_list .td_name {width:100px;text-align:left}
#bo_list .td_nick {width:100px;text-align:center}
#bo_list .td_num {width:50px;text-align:center}
#bo_list .td_numbig {width:80px;text-align:center}

#bo_list .txt_active {color:#5d910b}
#bo_list .txt_expired {color:#ccc}

#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {margin-bottom:10px;padding-left:1px;zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {float:left;margin-bottom:-1px}
#bo_cate a {display:block;position:relative;margin-left:-1px;padding:6px 0 5px;width:90px;border:1px solid #ddd;background:#f7f7f7;color:#888;text-align:center;letter-spacing:-0.1em;line-height:1.2em;cursor:pointer}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none}
#bo_cate #bo_cate_on {z-index:2;border:1px solid #565e60;background:#fff;color:#565e60;font-weight:bold}

.td_subject img {margin-left:3px}

/* 게시판 목록 공통 */
#bo_btn_top{margin: 10px 0 }
#bo_btn_top:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx {margin-bottom:5px;float:right;zoom:1}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none}
#bo_list_total {line-height:30px;font-size:14px;color:#777; float:left;}
#bo_list_total span{color:#000;}


.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
.btn_bo_adm {float:left}
.btn_bo_adm li {float:left;margin-right:5px}
.btn_bo_adm input {padding:8px;border:0;background:#e8180c;color:#fff;text-decoration:none;vertical-align:middle}
.bo_notice td {background:#f5f6fa}
.bo_notice td a {font-weight:bold}
.td_num strong {color:#000}
.bo_cate_link {display:inline-block;margin:0 3px 0 0;padding:0 6px 0 0;border-right:1px solid #e7f1ed;color:#999 !important;font-weight:bold;text-decoration:none} /* 글제목줄 분류스타일 */
.bo_current {color:#e8180c}
#bo_list .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}

#bo_sch{margin:0 0 10px; padding-top:5px; text-align:right; border:0; background:#fff;}
#bo_sch form{float:right;}
#bo_sch legend{position:absolute; margin:0; padding:0; font-size:0; line-height:0; text-indent:-9999em; overflow:hidden;}
#bo_sch #sfl{width:111px; height:31px; margin-right:5px; border:1px solid #cdcdcd; background:#fff; float:left;}
#bo_sch #stx{width:249px; height:31px; padding:0 10px; border:1px solid #cdcdcd; border-right:0; float:left;}
#bo_sch .btn_submit{width:50px; height:31px; font-weight:500; font-size:12px; color:#fff; background:#999; float:left;}

/* 게시판 쓰기 */
#char_count_desc {display:block;margin:0 0 5px;padding:0}
#char_count_wrap {margin:5px 0 0;text-align:right}
#char_count {font-weight:bold}

#autosave_wrapper {position:relative}
#autosave_pop {display:none;z-index:10;position:absolute;top:24px;right:117px;padding:8px;width:350px;height:auto !important;height:180px;max-height:180px;border:1px solid #565656;background:#fff;overflow-y:scroll}
html.no-overflowscrolling #autosave_pop {height:auto;max-height:10000px !important} /* overflow 미지원 기기 대응 */
#autosave_pop strong {position:absolute;font-size:0;line-height:0;overflow:hidden}
#autosave_pop div {text-align:right}
#autosave_pop button {margin:0;padding:0;border:0;background:transparent}
#autosave_pop ul {margin:10px 0;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#autosave_pop li {padding:8px 5px;border-bottom:1px solid #e9e9e9;zoom:1}
#autosave_pop li:after {display:block;visibility:hidden;clear:both;content:""}
#autosave_pop a {display:block;float:left}
#autosave_pop span {display:block;float:right}

.autosave_close {cursor:pointer}
.autosave_content {display:none}

/* 게시판 읽기 */
#bo_v{margin-bottom:20px; padding-bottom:20px; border-top:2px solid #0a4a9b;}

#bo_v_table{position:absolute;top:0;right:16px;margin:0;padding:0 5px;height:25px;background:#ff3061;color:#fff;font-weight:bold;line-height:2.2em}

#bo_v_title{padding:20px 0; font-weight:500; font-size:16px; text-align:center; border-bottom:1px solid #d7d7d7; background:#f7f7f7;}

#bo_v_info {padding: 10px 0 15px;margin:0 0 20px;border-bottom:1px solid #ddd;color:#666}
#bo_v_info:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_info strong {display:inline-block;margin:0 10px 0 0;font-weight:normal}
#bo_v_info .sv_member,
#bo_v_info .sv_guest,
#bo_v_info .member,
#bo_v_info .guest {font-weight:bold}
#bo_v_info .profile_img {}
#bo_v_info .profile_img img{border-radius:50%}
#bo_v_info .sv_member{color:#000}
#bo_v_info .if_view{display:inline-block;background:url(./img/icon_view.png) no-repeat 50% 50%;height:15px;width:20px;overflow:hidden;text-indent:-999px;vertical-align:middle;margin-right:3px}
#bo_v_info .if_comment{display:inline-block;background:url(./img/icon_comment.png) no-repeat 50% 50%;height:15px;width:20px;overflow:hidden;text-indent:-999px;vertical-align:middle;margin-right:3px}
#bo_v_info .if_date{float:right;margin:0;font-style:italic;color:#888}

#bo_v_file {}
#bo_v_file h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_file ul {margin:0;padding:0;list-style:none}
#bo_v_file li {padding:0 10px;border-bottom:1px solid #eee;background:#f5f6fa}
#bo_v_file a {display:inline-block;padding:8px 0 7px;width:100%;color:#000;word-wrap:break-word}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
#bo_v_file img {float:left;margin:0 10px 0 0}
.bo_v_file_cnt {display:inline-block;margin:0 0 3px 16px}

#bo_v_link {}
#bo_v_link h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_link ul {margin:0;padding:0;list-style:none}
#bo_v_link li {padding:0 10px;border-bottom:1px solid #eee;background:#f5f6fa}
#bo_v_link a {display:inline-block;padding:8px 0 7px;width:100%;color:#000;word-wrap:break-word}
#bo_v_link a:focus, #bo_v_link a:hover, #bo_v_link a:active {text-decoration:none}
.bo_v_link_cnt {display:inline-block;margin:0 0 3px 16px}

#bo_v_top {margin:0 0 10px;padding:10px 0;zoom:1}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_top ul {margin:0;padding:0;list-style:none}

#bo_v_bot {zoom:1}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_bot ul {margin:0;padding:0;list-style:none}

.bo_v_nb {float:left}
.bo_v_nb li {float:left;margin-right:5px}
.bo_v_com {float:right}
.bo_v_com li {float:left;margin-left:5px}

#bo_v_atc {min-height:200px;height:auto !important;height:200px}
#bo_v_atc_title {position:absolute;font-size:0;line-height:0;overflow:hidden}

#bo_v_img {margin:0 0 10px;width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img img {margin-bottom:20px;max-width:100%;height:auto}

#bo_v_con {margin:10px 0 30px;width:100%;font-size:14px;line-height:1.7em;min-height:200px;word-break:break-all;overflow:hidden}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle}
#bo_v_act strong {color:#ff3061}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;left:0;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}

#bo_v_sns {margin:0 0 20px;padding:0;list-style:none;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {float:left;margin:0 5px 0 0}

/* 게시판 댓글 */
#bo_vc {margin:0 0 20px;padding:20px 20px 10px;border:1px solid #e5e8ec;background:#f5f8f9}
#bo_vc h2 {margin-bottom:10px}
#bo_vc article {padding:0 0 10px;border-top:1px dotted #ccc}
#bo_vc header {position:relative;padding:15px 0 5px}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px}
#bo_vc .sv_wrap {margin-right:15px}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold}
.bo_vc_hdinfo {display:inline-block;margin:0 15px 0 5px}
#bo_vc h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc a {color:#000;text-decoration:none}
#bo_vc p {padding:0 0 5px;line-height:1.8em}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:none}
#bo_vc_empty {margin:0;padding:20px !important;text-align:center}
#bo_vc #bo_vc_winfo {float:left}
#bo_vc footer {zoom:1}
#bo_vc footer:after {display:block;visibility:hidden;clear:both;content:""}

.bo_vc_act {float:right;margin:0;list-style:none;zoom:1}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {float:left;margin-left:5px}

#bo_vc_w {position:relative;margin:0 0 10px;padding:0 0 20px;border-bottom:1px solid #cfded8}
#bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc_w #char_cnt {display:block;margin:0 0 5px}

#bo_vc_sns {margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 20px 0 0}
#bo_vc_sns input {margin:0 0 0 5px}

.btit{margin-bottom:20px;font-weight:500; font-size:18px; color:#000;}

.privacy-box{margin-bottom:30px; padding:30px; border:1px solid #c8c8c8; border-left:0; border-right:0; background:#f2f2f2; display:block;}
.privacy-box .tbl_head01{padding:20px; border:1px solid #e3e3e3; background:#fff;}
.privacy-box .tbl_head01 td{text-align:center;}
.chk-box{display:block; font-size:13px; line-height:37px; color:#757575; text-align:right;}
.chk-box input{vertical-align:middle;}

.privacy-btn{}
.privacy-btn:after{clear:both; content:""; display:block;}
.privacy-btn h1{font-weight:500; font-size:16px; color:#555; float:left;}
.privacy-btn span{font-weight:500; font-size:14px; color:#777; float:right;}
.privacy-info{margin-top:20px; border:1px solid #ddd;}
.privacy-info .info-tbox{padding:20px; background:#fff;}
.privacy-info .info-tbox h3{font-weight:500; font-size:14px; color:#222;}
.privacy-info .info-tbox p{margin-top:5px; font-size:13px; line-height:20px; color:#999; word-break:keep-all; word-wrap:break-word;}
.privacy-box .agree-box{margin-top:10px; font-weight:500; font-size:14px; text-align:right; color:#777;}


#sfl{height:23px; padding:3px; border:1px solid #d7d7d7;}
.mT30{margin-top:10px;}

@media screen and (max-width:780px){
	.privacy-box{margin-bottom:20px; padding:20px;}

	.privacy-btn h1{font-size:14px;}
	.privacy-btn span{font-size:12px;}

	.privacy-info{padding-top:20px;}
	.privacy-info .info-tbox{padding:10px;}
	.privacy-info .info-tbox h3{font-size:13px;}
	.privacy-info .info-tbox p{font-size:12px; line-height:18px;}
}

@media screen and (max-width:680px){
	.privacy-btn h1{display:block; float:none;}
	.privacy-btn span{margin-top:10px; display:block; float:none;}
	.mT30{margin-top:20px;}
}

@media screen and (max-width:650px){
	#bo_w .tbl_frm01 th{width:65px !important; padding:5px; font-size:13px;}
	#bo_w .tbl_frm01 td{padding:5px 0;}
}


@media screen and (max-width:430px){
	.privacy-btn a em{display:block;}
}

@media screen and (max-width:640px){
	#bo_sch #sfl{width:80px; height:31px; margin-right:5px; border:1px solid #cdcdcd; background:#fff; float:left;}
	#bo_sch #stx{width:160px; height:31px; padding:0 10px; border:1px solid #cdcdcd; border-right:0; float:left;}
}

@media screen and (max-width:480px){
	#bo_list_total{float:none;}
}

.inquiry-info{margin-bottom:30px; background:url("./img/inquiry_bg.png") no-repeat center center;}
.inquiry-info:after{clear:both; content:""; display:block;l}
.inquiry-info .inq-part{margin:40px 0;}
.inquiry-info .inq-part:first-child{margin-top:0;}
.inquiry-info .inq-part:last-child{margin-bottom:0;}
.inquiry-info .inq-part:after{clear:both; content:""; display:block;l}
.inquiry-info .left-area{width:40%; max-width:383px; float:left;}
.inquiry-info .right-area{width:40%; max-width:383px; float:right;}

.inquiry-info .box{height:198px; padding:20px; border:5px solid #999; background:#fff; position:relative;}
.inquiry-info .box span{top:-25px; left:0; padding:5px 20px; font-weight:500; font-size:24px; color:#0e0e0e; background:#fff; display:inline-block; position:absolute;}
.inquiry-info .box h2{font-weight:300; font-size:18px;}
.inquiry-info .box ul{margin-top:10px; }
.inquiry-info .box ul li{font-size:16px; line-height:160%; color:#0066b3;}

.inquiry-info .inq-part:last-child .right-area .box ul li{font-size:14px;}

@media screen and (max-width:980px){
	.inquiry-info{background-size:200px;}
	.inquiry-info .left-area{width:45%; max-width:100%;}
	.inquiry-info .right-area{width:45%; max-width:100%;}
}

@media screen and (max-width:880px){
	.inquiry-info{background:none;}
	.inquiry-info .left-area{width:49%;}
	.inquiry-info .right-area{width:49%;}
}

@media screen and (max-width:800px){
	.inquiry-info .inq-part{margin:0;}
	.inquiry-info .left-area{width:100%; margin-top:40px; float:none;}
	.inquiry-info .right-area{width:100%; margin-top:40px; float:none;}
	.inquiry-info .box{height:auto;}
}

@media screen and (max-width:440px){
	.inquiry-info .box span{padding:5px 15px; font-size:22px;}
	.inquiry-info .box h2{font-size:16px;}
	.inquiry-info .box ul li{font-size:14px; line-height:140%;}
}