@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

#visual-section{width:100%; margin:0 auto; overflow:hidden; position:relative;}
#visual-section .visual-box{width:100%; max-width:1240px; top:50%; left:50%; -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); transform:translate(-50%,-50%); z-index:10; color:#fff; position:absolute;}
#visual-section .owl-carousel{width:100%; position:relative;}
#visual-section .owl-carousel .item{-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-position:center center !important; background-repeat:no-repeat !important; background-size:cover !important;}
#visual-section .owl-carousel .item:before{-webkit-backface-visibility:hidden;}
#visual-section .owl-carousel .item .container{height:100%; position:relative; min-height:inherit;}
#visual-section .stretchy_wrapper{width:100% !important; height:0px; padding-bottom:567px; position:relative !important; overflow:hidden !important; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-position:center center; background-repeat:no-repeat; background-size:cover; display:block;}
#visual-section .stretchy_wrapper > * {width:100%; height:100%; top:0; bottom:0; left:0; right:0; display:block; position: absolute !important;}
#visual-section .owl-carousel .owl-dots{height:16px; left:50%; -ms-transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); transform:translateX(-50%); bottom:20px; z-index:10000; text-align:center; position:absolute; display:none;}
#visual-section .owl-carousel .owl-dots:after{width:100%; height:1px; top:50%; left:50%; z-index:1; -ms-transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); transform:translateX(-50%); background:#fff; content:""; display:block; position:absolute;}
#visual-section .owl-carousel .owl-dots .owl-dot{height:16px; margin:0 25px; display:inline-block; z-index:1000; position:relative;}
#visual-section .owl-carousel .owl-dots .owl-dot:first-child{margin-left:0;}
#visual-section .owl-carousel .owl-dots .owl-dot:last-child{margin-right:0;}
#visual-section .owl-carousel .owl-dots .owl-dot span{width:13px; height:13px; margin-top:2px; border-radius:50%; border:1px solid #fff; background:#fff; display:block; vertical-align:bottom;}
#visual-section .owl-carousel .owl-dots .active span{width:16px; height:16px; margin-top:0; z-index:1000;}
#visual-section .owl-carousel .owl-drag{z-index:10000; position:relative;}
#visual-section .owl-carousel .owl-nav{width:100%; max-width:1220px; left:50%; bottom:30px; -ms-transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); transform:translateX(-50%); padding:0 60px; z-index:99999; text-align:left; position:absolute;}
#visual-section .owl-carousel .owl-prev{width:36px; height:36px; margin-right:25px; text-indent:-9000px; background:url("../img/vslider_prev.png") no-repeat; display:inline-block;}
#visual-section .owl-carousel .owl-next{width:36px; height:36px; margin-left:25px; text-indent:-9000px; background:url("../img/vslider_next.png") no-repeat; display:inline-block;}

#visual-section .in-txt01{width:100%; max-width:1220px; top:50%; left:50%; -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); transform:translate(-50%,-50%); padding:0 60px; position:absolute;}
#visual-section .in-txt01 .txt01{padding-top:35px; position:relative;}
#visual-section .in-txt01 .txt01:after{width:60px; height:7px; top:0; left:0; background:#f18321; content:""; display:block; position:absolute;}
#visual-section .in-txt01 .txt02{margin-top:30px; font-weight:600; font-size:18px; line-height:24px; color:#fff;}
#visual-section .slider-con{width:36px; height:36px; bottom:30px; left:50%; margin-left:-18px; z-index:99999; position:absolute;}
#visual-section .slider-con .btn-play{width:36px; height:36px; background:url("../img/vslider_play.png") no-repeat; display:block;}
#visual-section .slider-con .btn-stop{width:36px; height:36px; background:url("../img/vslider_pause.png") no-repeat; display:block;}

#visual-section .visual-box .effect-box{margin-top:30px; float:right; position:relative;}
#visual-section .visual-box .effect-box .icon{width:50px; height:51px; top:50%; left:50%; -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); transform:translate(-50%,-50%); border-radius:50%; position:absolute;}
.effect-box .icon:after{width:45px; height:46px; top:2px; left:1px; padding:0; z-index:-1; opacity:0; content:""; border-radius:50%; display:block; position:absolute; box-shadow:0 0 0 2px rgba(255,255,255,1); -webkit-transform:scale(0.9); -moz-transform:scale(0.9); -ms-transform:scale(0.9); transform:scale(0.9);}
.effect-box .icon:hover:after{-webkit-animation: iconEffect 1.3s ease-out 75ms infinite; -moz-animation: iconEffect 1.3s ease-out 75ms infinite; animation: iconEffect 1.3s ease-out 75ms infinite;}

#visual-section .img-box{margin-top:20px; display:none;}
#visual-section .img-box ul{width:100%; max-width:500px; margin:0 auto;}
#visual-section .img-box ul:after{clear:both; content:""; display:block;}
#visual-section .img-box ul li{margin-top:20px; width:33.333%; padding:0 5px; text-align:center; float:left;}
#visual-section .img-box ul li img{width:100px;}
#visual-section .img-box ul li .txt01{margin-top:10px; font-weight:600; font-size:16px; line-height:22px; color:#fff;}
#visual-section .img-box ul li:nth-child(4){margin-left:16.6666%;};

@keyframes iconEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 5px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

@media screen and (max-width:940px){
	#visual-section .stretchy_wrapper{padding-bottom:550px;}
	#visual-section .in-txt01{width:100%; max-width:220px; top:auto; left:auto; margin:0 auto; padding:0; -ms-transform:none; -webkit-transform:none; -moz-transform:none; transform:none; position:relative;}
	#visual-section .in-txt01 .txt01{padding-top:25px; position:relative;}
	#visual-section .in-txt01 .txt01:after{height:5px;}
	#visual-section .in-txt01 .txt01 img{width:220px;}
	#visual-section .in-txt01 .txt02{margin-top:20px; font-size:16px;}
	.effect-box{display:none;}
	#visual-section .img-box{display:block;}
}

@media screen and (max-width:880px){
	#visual-section .in-txt01 .txt01:after{width:50px; height:5px;}
}

@media screen and (max-width:680px){
	#visual-section .stretchy_wrapper{padding-bottom:500px;}
	#visual-section .in-txt01{width:195px;}
	#visual-section .in-txt01 .txt01:after{height:3px;}
	#visual-section .in-txt01 .txt01 img{width:190px;}
	#visual-section .img-box ul{max-width:400px;}
	#visual-section .img-box ul li img{width:80px;}
}

@media screen and (max-width:580px){
	#visual-section .img-box ul li .txt01{font-size:14px;}
}

#mcont1-section{width:100%; max-width:1240px; height:240px; margin:0 auto; padding:64px 10px 45px; text-align:center; color:#000; position:relative;}
#mcont1-section:before{width:50%; height:240px; top:0; left:0; z-index:1; background:url("../img/mcont1_bg1.png") no-repeat left bottom; content:""; display:block; position:absolute;}
#mcont1-section:after{width:50%; height:240px; top:0; right:0; z-index:1; background:url("../img/mcont1_bg2.png") no-repeat right bottom; content:""; display:block; position:absolute;}
#mcont1-section h2{z-index:10; font-weight:900; font-size:36px; position:relative;}
#mcont1-section h2 span{color:#f18321;}
#mcont1-section h3{margin-top:30px; z-index:10; font-weight:600; font-size:18px; line-height:30px; position:relative;}

@media screen and (max-width:900px){
	#mcont1-section h2{font-size:33px;}
	#mcont1-section h3{margin-top:25px; font-size:16px; line-height:27px;}
}

@media screen and (max-width:740px){
	#mcont1-section{height:220px; margin:0 auto; padding:54px 10px 35px;}
	#mcont1-section:before{height:220px;}
	#mcont1-section:after{height:220px;}
}

@media screen and (max-width:700px){
	#mcont1-section{height:200px; margin:0 auto; padding:44px 10px 25px;}
	#mcont1-section:before{height:200px;}
	#mcont1-section:after{height:200px;}
	#mcont1-section h2{font-size:30px;}
	#mcont1-section h3{margin-top:22px; font-size:15px; line-height:25px;}
}

@media screen and (max-width:650px){
	#mcont1-section{height:160px; margin:0 auto; padding:34px 10px 15px;}
	#mcont1-section:before{height:160px;}
	#mcont1-section:after{height:160px;}
	#mcont1-section h2{font-size:25px;}
	#mcont1-section h3{margin-top:20px; font-size:14px; line-height:23px;}
}

@media screen and (max-width:600px){
	#mcont1-section:before{top:auto; bottom:0; left:-150px; background:url("../img/mcont1_bg1.png") no-repeat right bottom;}
	#mcont1-section:after{top:auto; bottom:0; right:-150px; background:url("../img/mcont1_bg2.png") no-repeat left bottom;}
}

@media screen and (max-width:530px){
	#mcont1-section h2{font-size:22px;}
	#mcont1-section h3{font-size:13px; line-height:21px;}
}

@media screen and (max-width:480px){
	#mcont1-section{height:auto; padding:44px 10px 35px;}
	#mcont1-section h2{font-size:20px; line-height:30px;}
	#mcont1-section h3 br{display:none;}
	#mcont1-section:before{left:-100px;}
	#mcont1-section:after{right:-100px;}
}

@media screen and (max-width:400px){
	#mcont1-section{padding:30px 10px 25px;}
	#mcont1-section h2{font-weight:600; font-size:18px;}
}


#mcont2-section{padding:80px 0 90px; background:url("../img/mcont2_bg.jpg") no-repeat; background-size:cover;}
#mcont2-section h3{font-weight:600; font-size:18px; text-align:center; color:#fff;}
#mcont2-section h2{margin-top:5px; font-weight:900; font-size:36px; text-align:center; color:#fff;}
#mcont2-section .more-btn{margin-top:60px;}
#mcont2-section .more-btn a{width:100%; max-width:200px; margin:0 auto; font-weight:600; font-size:18px; line-height:50px; text-align:center; color:#fff; background:#f18321; display:block; cursor:pointer;}
#mcont2-section .more-btn a:hover{color:#000; background:#fff;}
#mcont2-section .box{width:100%; max-width:1240px; margin:60px auto 0; padding:0 10px;}
#mcont2-section .box ul{margin:0 -4px;}
#mcont2-section .box ul:after{clear:both; content:""; display:block;}
#mcont2-section .box ul li{width:16.6%; padding:0 4px; float:left;}
#mcont2-section .ibox{height:370px; padding-top:145px; background-color:rgba(255,255,255,.2); background-repeat:no-repeat;}
#mcont2-section .ibox span{width:40px; height:5px; margin:0 auto; background:#f18321; content:""; display:block;}
#mcont2-section .ibox .txt01{height:55px; margin-top:30px; position:relative;}
#mcont2-section .ibox .txt01 em{width:100%; top:50%; -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%); font-weight:600; font-size:24px; line-height:36px; text-align:center; color:#fff; position:absolute;}
#mcont2-section .ibox .txt02{margin-top:20px; padding:0 10px; font-weight:600; font-size:14px; line-height:24px; text-align:center; color:#fff;}
#mcont2-section .box ul li a:hover .ibox{background-color:rgba(241,131,33,1);}
#mcont2-section .box ul li a:hover span{background:#000;}
#mcont2-section .box ul li a:hover .ibox .txt01 em{color:#000;}
#mcont2-section .box ul li a:hover .ibox .txt02{color:#000;}
#mcont2-section .box ul li:nth-child(1) .ibox{background-image:url("../img/business_icon01.png"); background-position:center 50px;}
#mcont2-section .box ul li:nth-child(2) .ibox{background-image:url("../img/business_icon02.png"); background-position:center 50px;}
#mcont2-section .box ul li:nth-child(3) .ibox{background-image:url("../img/business_icon03.png"); background-position:center 50px;}
#mcont2-section .box ul li:nth-child(4) .ibox{background-image:url("../img/business_icon04.png"); background-position:center 50px;}
#mcont2-section .box ul li:nth-child(5) .ibox{background-image:url("../img/business_icon05.png"); background-position:center 50px;}
#mcont2-section .box ul li:nth-child(6) .ibox{background-image:url("../img/business_icon06.png"); background-position:center 50px;}

#mcont2-section .box ul li:nth-child(1) a:hover .ibox{background-image:url("../img/business_icon01r.png");}
#mcont2-section .box ul li:nth-child(2) a:hover .ibox{background-image:url("../img/business_icon02r.png");}
#mcont2-section .box ul li:nth-child(3) a:hover .ibox{background-image:url("../img/business_icon03r.png");}
#mcont2-section .box ul li:nth-child(4) a:hover .ibox{background-image:url("../img/business_icon04r.png");}
#mcont2-section .box ul li:nth-child(5) a:hover .ibox{background-image:url("../img/business_icon05r.png");}
#mcont2-section .box ul li:nth-child(6) a:hover .ibox{background-image:url("../img/business_icon06r.png");}

@media screen and (max-width:1180px){
	#mcont2-section .ibox .txt01{margin-top:20px;}
	#mcont2-section .ibox .txt01 em{font-size:22px; line-height:33px;}
	#mcont2-section .ibox .txt02{margin-top:20px; font-size:13px; line-height:22px;}
}

@media screen and (max-width:1000px){
	#mcont2-section .ibox .txt01{margin-top:17px;}
	#mcont2-section .ibox .txt01 em{font-size:20px; line-height:30px;}
	#mcont2-section .ibox .txt02{margin-top:15px; line-height:20px;}
}

@media screen and (max-width:930px){
	#mcont2-section .ibox .txt01{margin-top:17px;}
	#mcont2-section .ibox .txt01 em{font-size:18px; line-height:27px;}
}

@media screen and (max-width:880px){
	#mcont2-section{padding:70px 0 80px;}
	#mcont2-section h3{font-size:17px;}
	#mcont2-section h2{font-weight:600; font-size:33px;}
	#mcont2-section .more-btn{margin-top:40px;}
	#mcont2-section .more-btn a{max-width:180px; font-size:16px; line-height:45px;}

	#mcont2-section .ibox .txt01{margin-top:17px;}
	#mcont2-section .ibox .txt01 em{font-size:18px; line-height:27px;}

	#mcont2-section .box ul li{width:33.3333%; padding:4px;}
	#mcont2-section .ibox{height:320px;}
}

@media screen and (max-width:680px){
	#mcont2-section{padding:60px 0;}
	#mcont2-section h3{font-size:16px;}
	#mcont2-section h2{font-size:30px;}
	#mcont2-section .more-btn{margin-top:35px;}
	#mcont2-section .more-btn a{max-width:150px; font-size:15px; line-height:43px;}

	#mcont2-section .ibox .txt01{margin-top:15px;}
	#mcont2-section .ibox .txt01 em{font-size:17px; line-height:25px;}
}

@media screen and (max-width:580px){
	#mcont2-section .box ul li{width:50%;}

	#mcont2-section .ibox{height:280px; padding-top:105px;}

	#mcont2-section .box ul li:nth-child(1) .ibox,
	#mcont2-section .box ul li:nth-child(2) .ibox,
	#mcont2-section .box ul li:nth-child(3) .ibox,
	#mcont2-section .box ul li:nth-child(4) .ibox,
	#mcont2-section .box ul li:nth-child(5) .ibox,
	#mcont2-section .box ul li:nth-child(6) .ibox{background-size:50px auto; background-position:center 30px;}
}

@media screen and (max-width:500px){
	#mcont2-section .ibox{padding-top:95px;}
	#mcont2-section .box{margin:40px auto 0;}
	#mcont2-section .ibox .txt01{margin-top:10px;}
	#mcont2-section .ibox .txt01 em{padding:0 5px; font-size:16px; line-height:23px;}
	#mcont2-section .ibox .txt02{margin-top:10px; font-size:12px; line-height:18px;}
}

@media screen and (max-width:420px){
	#mcont2-section .box{margin:30px auto 0;}
	#mcont2-section .ibox .txt02{line-height:17px;}
}

#mcont3-section{padding:95px 10px 45px; background:#f4f4f4;}
#mcont3-section h3{font-weight:600; font-size:18px; text-align:center; color:#000;}
#mcont3-section h2{margin-top:5px; font-weight:900; font-size:36px; text-align:center; color:#000;}
#mcont3-section .txt01{margin-top:25px; font-weight:600; font-size:18px; line-height:24px; text-align:center; color:#333;}
#mcont3-section .conts-box{width:100%; max-width:1220px; margin:50px auto 0; position:relative;}
#mcont3-section .owl-carousel{width:100%;}
#mcont3-section .stretchy_wrapper{width:100% !important; position:relative !important; overflow:hidden !important; display:block;}
#mcont3-section .owl-carousel .owl-dots{width:100%; height:16px; left:50%; -ms-transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); transform:translateX(-50%); bottom:0; z-index:10000; text-align:center; position:absolute; display:none;}
#mcont3-section .owl-carousel .owl-dots .owl-dot{height:5px; margin:0 2px; display:inline-block; z-index:1000; position:relative;}
#mcont3-section .owl-carousel .owl-dots .owl-dot span{width:14px; height:5px; background:#999; display:block; vertical-align:bottom;}
#mcont3-section .owl-carousel .owl-dots .active span{background:#f18321;}
#mcont3-section .owl-carousel .owl-nav{}
#mcont3-section .owl-carousel .owl-prev{width:70px; height:68px; top:50%; left:-190px; margin-top:-34px; text-indent:-9000px; background:url("../img/slider_prev.png") no-repeat; display:block; position:absolute;}
#mcont3-section .owl-carousel .owl-next{width:70px; height:68px; top:50%; right:-190px; margin-top:-34px; text-indent:-9000px; background:url("../img/slider_next.png") no-repeat; display:block; position:absolute;}
#mcont3-section .owl-carousel .item img{vertical-align:middle;}
#mcont3-section .owl-carousel .item .s-box{padding:20px; border:1px solid #e6e6e6; background:#fff;}
#mcont3-section .owl-carousel .item .s-box .txt{height:60px; font-weight:600; font-size:16px; color:#000;}
#mcont3-section .owl-carousel .item .s-box .date{font-size:14px; color:#333;}
#mcont3-section .more-btn{margin-top:40px;}
#mcont3-section .more-btn a{width:100%; max-width:200px; margin:0 auto; font-weight:600; font-size:18px; line-height:50px; text-align:center; color:#fff; background:#f18321; display:block; cursor:pointer;}
#mcont3-section .more-btn a:hover{color:#000; background:#fff;}


@media screen and (max-width:1620px){
	#mcont3-section .owl-carousel .owl-prev{left:-100px;}
	#mcont3-section .owl-carousel .owl-next{right:-100px;}
}

@media screen and (max-width:1450px){
	#mcont3-section .owl-carousel .owl-prev{left:-90px;}
	#mcont3-section .owl-carousel .owl-next{right:-90px;}
}

@media screen and (max-width:1420px){
	#mcont3-section .owl-carousel{padding-bottom:30px;}
	#mcont3-section .owl-carousel .owl-nav{display:none;}
	#mcont3-section .owl-carousel .owl-dots{display:block;}
}

@media screen and (max-width:1240px){
	#mcont3-section h3{font-size:17px;}
	#mcont3-section h2{font-size:33px;}
	#mcont3-section .txt01{margin-top:20px; font-size:16px;}
}

@media screen and (max-width:1020px){
	#mcont3-section .txt01{font-size:15px;}
}

@media screen and (max-width:980px){
	#mcont3-section{padding:85px 10px 40px;}
}

@media screen and (max-width:880px){
	#mcont3-section{padding:75px 10px 35px;}
	#mcont3-section .more-btn{margin-top:30px;}
	#mcont3-section .more-btn a{max-width:160px; font-size:16px; line-height:45px;}
}

@media screen and (max-width:780px){
	#mcont3-section{padding:65px 10px 30px;}
}

@media screen and (max-width:680px){
	#mcont3-section{padding:55px 10px 30px;}
	#mcont3-section h3{font-size:16px;}
	#mcont3-section h2{font-size:30px;}
	#mcont3-section .txt01{font-size:14px;}
	#mcont3-section .more-btn{margin-top:25px;}
	#mcont3-section .more-btn a{max-width:150px; font-size:15px; line-height:43px;}
}